@{
    ViewData["Title"] = "ITTWeb Assignment 3";
    Layout = "_Layout";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
     
    <link rel="stylesheet" href="~/css/templatemo-style.css">
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/typed.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/custom.js"></script>
</head>

<body id="top">
    <div class="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <div class="clearfix" style="text-align: center">
        <h2 style="font-weight: bold; padding-bottom: 0">Embedded Stock</h2>
        <hr style="padding-bottom: 10px" />
        <p style="font-weight: bold; font-size: larger">
            <div>Reservationer og søgning efter komponenter sker på hjemmesiden Stockmanager.ase.au.dk</div>
            <br />
            <div>Login forgår med dit AUid og password som bruges på "mit au"(første gang skal du registrere dig)</div>
            <br />
            <div>Afhentning og aflevering kan ske ved Mathias i Shannon lokale 017A</div>

            <br />

            <div>Åbningstiden:</div>
            <div>Tirsdag kl. 12.30-14.00</div>
            <div>Torsdag kl. 14-15.30</div>

            <br />

            <div>Har du spørgsmål kan du skrive til EmbeddedStock@gmail.com</div>

            <br />

            <div>Møde embedded stock på facebook (lukket gruppe)</div>
        </p>
    </div>
</body>
</html>