@model Component

@{
    ViewBag.Title = "Create New Component";
    Layout = "";
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/templatemo-style.css">
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/typed.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/custom.js"></script>
</head>


<body id="top">
<div class="preloader">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div>
<h2>Create</h2>

<h4>Component</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Create", "Components", FormMethod.Post))
        {
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ComponentTypeId" class="control-label"></label>
                    <input asp-for="ComponentTypeId" class="form-control" />
                    <span asp-validation-for="ComponentTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ComponentNumber" class="control-label"></label>
                    <input asp-for="ComponentNumber" class="form-control" />
                    <span asp-validation-for="ComponentNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SerialNo" class="control-label"></label>
                    <input asp-for="SerialNo" class="form-control" />
                    <span asp-validation-for="SerialNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" asp-items="@Html.GetEnumSelectList<ComponentStatus>()" class="form-control"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AdminComment" class="control-label"></label>
                    <input asp-for="AdminComment" class="form-control" />
                    <span asp-validation-for="AdminComment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserComment" class="control-label"></label>
                    <input asp-for="UserComment" class="form-control" />
                    <span asp-validation-for="UserComment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CurrentLoanInformationId" class="control-label"></label>
                    <input asp-for="CurrentLoanInformationId" class="form-control" />
                    <span asp-validation-for="CurrentLoanInformationId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        }
    </div>
</div>

<div>
    <a asp-action="ComponentsIndex">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
